.sucess{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    top:60px;
    width:100%;
    height:40px;
    background-color:rgb(67, 212, 115);
    color:white;
}
.error{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    top:60px;
    width:100%;
    height:40px;
    background-color:rgb(212, 67, 79);
    color:white;
}