.bannerContainer{
background-color:#26b3ae;
width: 100%;
height: 45rem;
display: flex;
padding: 9rem;
justify-content: space-between;
align-items: center;

}
.chamadadeAccao h1{
font-size: 70px;
width: 700px;

font-weight: 200;
}

.chamadadeAccao h1 span{
    font-weight: 300;
}

.prgrph {
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chamadaBtn{
    background-color: #e7b102;
    width: 14rem;
    height: 3.5rem;
    color: #ffff;
    border-radius: 6px;

   
}