.container{
      margin-top:80px;
      display:flex;
      flex-direction:column;
      padding:10px;
}
.container > h2 {
      margin-left:20px;
}
.wrap{
      display:flex;
      flex-direction:row;
      align-items:center;
      padding:10px;
}
.number {
      display:flex;
      flex-direction: row;
      align-items:center;
}
.number  > p {
      font-size:20pt;
      background-color:rgb(233, 233, 233);
      padding:8px 20px;
      border-radius:2px;
}
.number  > span {
      border-radius:2px;
      padding:10px;
}
.number  > span:hover {
      font-size:18pt;
      color:#1dd1a1;
      border-radius:2px;
      padding:6px;
      transition:0.1s ease-in-out;
}
.description{
      margin-left:6pt;
      font-size:20pt;
      color:rgb(33, 33, 33);
}