.header{
    position:fixed;
    display:flex;
    width:100%;
    height:60px;
    background-color:#222f3e;
    justify-content:space-between;
    z-index: 10000;
}
.header h2{
    color:#f1f1f1;
    font-size:20px;
    margin-left:8px;
}
.header ul{
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}
.header ul li {
    padding:10px;
    list-style:none;
    margin-left:14px;
    font-size:14px;
}
.header ul li span{
    margin-left:10px;
}
.header ul li:hover{
    color:#1dd1a1;
}
.searchSection{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:20px;
}
.searchSection input{
    background-color:#222f3e;
    border:1px solid #c8d6e5;
    border-radius:2px;
    height:30px;
    width:250px;
    color:white;
}
.searchSection button{
    background-color:#10ac84;
    color:white;
    margin-left:8px;
    border-radius:4px;
    height:30px;
    border:none;
}
.footer{
    position:fixed;
    font-size:12px;
    background-color:#222f3e;
    bottom:0px;
    color:rgb(241, 241, 241);
    width:100%;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
  }
