.container{
    height:auto;
    width:100%;
    margin-top:40px;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    flex-wrap:wrap;
  }
  .container h2 {
      color:#1dd1a1;
      word-wrap: break-word;
      margin-left:16px;
      margin-top:40px;
  }
  .intro{
    text-indent: 30pt;
    text-indent: justify;
    word-wrap:break-word;
    font-size: 22px;
    color:#414141;
    margin:8px 0px 0px 10px;   
    width:700px; 
    margin-bottom:50px;
  }
  .alphabet p {
      padding:10px;
      font-size:25px;
      color:#222f3e;
      word-wrap: break-word;
  }
  .alphabet{
      width:100%;
      display:flex;
      flex-direction:column;
      align-items:flex-start;
      justify-content:center;
      flex-wrap:wrap;
  }
  @media screen and (max-width:700px){
      .container h2{
          text-align:center;
          margin-top:50px;
      }
  }