.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: 10px;
}
.container h2{
    margin-top:60px;
    color:#222f3e;
}
.paragraph{
    width:600px;
    margin-bottom:30px;
    text-indent:30px;
    letter-spacing: 0.5px;
    text-align: justify;
    color:#576574;
}
