.container{
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    padding:10px;
    position:relative;
}
.search{
    align-self:center;
    margin-top:70px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container h2{
    color:#1dd1a1;
}
.search input{
    height:50px;
    width:400px;
    font-size:14pt;
    border: 1px solid #e7e7e7;
    padding:10px;
}
.search button {
    margin-left:10px;
    border:none;
    border-radius:3px;
    color:white;
    height:50px;
    width:80px;
    background-color:#1dd1a1;
    padding:10px;
    font-size:14pt;
    text-align:center;
}
.search button:hover{
  background-color:#222f3e;
}
.title{
    font-weight:bold;
    color:#222f3e;
    font-size:20px;
}
.words{
    font-size:18px;
    color:#222f3e;
    display:flex;
    align-items:center;
    padding:8px;
    justify-content:flex-start;
    margin-top:8px;
    margin-bottom:30px;
    background-color:#e7e7e7;
    width:350px;
    height:50px;
    border-radius:4px;
}
@media screen and (max-width:600px){
    .container{
        margin-top:20px;
        align-items:flex-start;
        justify-content:center;
    }
    .search{
        align-self:center;
        align-items:center;
        justify-content:center;
        width:300px;
    }
    .words{
        align-items:center;
        justify-content:center;
    }
}